/* Animações */

.textFadeIn {
    opacity: 1;
    animation: fade-in 2s;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/* CSS */

/* HomePage */
.solutionsContainer {
    margin-top: -172px;
    position: relative;
    
 }

 /* Service */
.solutionsAltContainer {
   margin-top: -240px;
   position: relative;
}

.solutionsServicesMobile {
    display: none;
    margin-bottom: -64px;
}

/* HomePage */
.solutionsContentContainer {
    align-items: center;
    padding: 0 5%;
    animation: fade-in 2s;
}

 /* Services */
.solutionsContentAltContainer {
    display: flex;
    align-items: center;
    padding: 0 5%;
    animation: fade-in 2s;
}

/* HomePage */
.solutionsButtonsContainer{
    display: flex;
    justify-content: center;
}

/* Service */
.solutionsButtonsAltContainer{
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin-right: 5%;
}

.solutionButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 106px;
    height: 106px;
    margin: 0 12px;
    align-items: center;
    justify-items: center;
    background-color: #FFF;
    border: 2px solid #8700A9;
    border-radius: 20px;
    color: #8700A9;
    font-family: 'Scada';
    font-size: 14px;
    overflow: hidden;
}

.solutionButton.active {
    color: #FFF;
    z-index: -1;
}

.solutionButton.active img {
    box-shadow: 0 0 0 4px transparent, 0 0 0 200px #8700A9;
    transition: box-shadow 2s ease-out;
    z-index: -2;
}

.solutionButton img {
    margin: 4px;
    padding: 4px;
    width: 40px;
    height: 40px;
    border: 2px solid #8700A9;
}


.buttonPurple, .buttonPurple2 {
    font-family: 'Saira';
    font-size: 25px;
    white-space: nowrap;
    margin-bottom: 53px; 
    border-radius: 50px;
    width: 315.56px;
    height: 88px;   
}

/* Outros estilos específicos para os botões roxos */
.buttonPurple {
    color: black;
    background-color: white;
}

.buttonPurple2 {
    color: white;
}


/* Common */
.solutionsTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.solutionsTextContainer h1{
    width: fit-content;
    text-align: right;
    font-family: "Scada";
    font-weight: bolder;
    color: #610C7D;
    border-bottom: 10px solid #610C7D;
    margin-bottom: 24px;
}

.solutionsTextContainer p{
    text-align: right;
}

.solutionsServicesMobile p {
    margin: 0 5%;
}

p.content {
    color: #707070;
    text-align: left;
    line-height: 50px;
    font-size: 24px;  
    font-family: 'Saira';
    
}
/* HomePage */
.solutionImage {
    width: 440px;
}

/* HomePage */
.solutionsBackground {
    position: absolute;
    width: 100%;
    z-index: -1;
    top: -25%;
    left: 50%;
    margin-left: -40%;
}

/* Service */
.solutionBackground {
    position: absolute;
    z-index: -1;
    opacity: 0.2;
    top: 2%;
    right: 1%;
    width: 720px;
}

.solutionsCardContainer {
    display: none;
}

/** Responsividade **/

/* Mobile */

@media screen and (min-width: 320px) and (max-width: 370px) {

    .solutionButton {
        width: 88px;
        height: 88px;
        font-size: 12px;
        margin: 0 8px;
    }

    .solutionButton img{
        padding: 6px;
    }
}


@media screen and (min-width: 320px) and (max-width: 480px) {

    .solutionsContainer {
        margin-top: -24px;
     }

     .solutionsAltContainer {
        margin-top: -24px;
     }

     .solutionsBackground {
        width: 200%;
        left: 0;
        top: 0;
        margin-left: 0;
     }

    .solutionsContentContainer {
        display: none;
    }

    .solutionsContentAltContainer {
        display: none;
    }

    .solutionsServicesMobile {
        display: block;
    }

    .solutionsCardContainer {
        display: block;
    }

    .solutionBackground {
       display: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .solutionsContainer {
        margin-top: -40px;
     }

    .solutionsCardContainer {
        display: block;
    }

    .solutionsAltContainer {
        margin-top: -24px;
    }

    .solutionsContentContainer {
        display: none;
    }

    .solutionsContentAltContainer {
        display: none;
    }

    .solutionsServicesMobile {
        display: block;
    }

    .solutionButton {
        height: 116px;
        width: 116px;
        margin: 0 5%;
        font-size: 16px;
    }
    
    .solutionBackground {
        display: none;
    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .solutionsContainer {
        margin-top: -48px;
    }

    .solutionsAltContainer {
        margin-top: -48px;
    }

    .solutionsContentAltContainer {
        flex-direction: column;
    }

    .solutionsButtonsAltContainer {
        flex-direction: row;
        margin-bottom: 24px;
        margin-right: 0;
    }

}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
    
    .solutionsAltContainer {
        margin-top: -96px;
    }
}