/* Header */

.headerContainer {
    background-color: #610C7D;
    z-index: -2;
    margin-top: 80px;
}

.headerTextContainer {
    display: flex; 
    align-items: center; 
    margin-left: 5%;
}

.headerTextContainer h1 {
    color: white;
    font-family: "Scada";
    font-size: 72px; 
    font-weight: bold;
}

.headerTextContainer p {
    margin-top: 20px;
    color: white;
    font-family: "Saira";
    font-size: 28px;
}

#headerImg {
    height: 800px;
    position: relative;
}

.headerSocialMediaContainer {
    margin-right: 5%;
}

.headerSocialMediaContainer p {
    font-family: "Saira"; 
    font-size: 26px;
    font-weight: bold;
    writing-mode:vertical-rl;
    color: white;
}

.headerBorder {
    width: 100%; 
    position: relative;
    margin-top: -25.5%;
    z-index: 0;
    -webkit-user-drag: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Responsividade - Header */

/** Mobile **/
@media screen and (min-width: 320px) and (max-width: 480px) {

    .headerTextContainer {
        padding-top: 5%;
    }

    .headerTextContainer h1 {
        font-size: 28px;
    }

    .headerTextContainer p {
        font-size: 16px;
    }

    .headerButton {
        margin-bottom: 10%;
    }

    #headerImg {
        display: none;
    }

    .headerSocialMediaContainer {
        display: none;
    }

    .headerBorder {
        margin-top: -26%;
    }
}

/** Tablets **/
@media screen and (min-width: 481px) and (max-width: 768px) {

    .headerContainer {
        padding: 5%;
    }
    
    .headerContainer h1 {
        font-size: 64px;
    }

    .headerContainer p {
        font-size: 24px;
        margin-right: 5%;
    }

    #headerImg {
        display: none;
    }

    #headerImg {
        display: none;
    }

    .headerSocialMediaContainer {
        display: none;
    }

    .headerBorder {
        margin-top: -25.6%;
    }

}

/** Laptops **/
@media screen and (min-width: 769px) and (max-width: 1024px) {

    .headerContainer {
        padding: 5%;
    }

    .headerContainer h1 {
        font-size: 64px;
    }

    .headerContainer p {
        font-size: 24px;
        margin-right: 5%;
    }

    #headerImg {
        display: none;
    }

    .headerSocialMediaContainer {
        margin-right: 2%;
    }

    .headerBorder {
        margin-top: -25.6%;
    }

}

/** Laptops: Large Screen **/
@media screen and (min-width: 1025px) and (max-width: 1600px) {

    .headerContainer {
        padding: 3%;
    }

    .headerContainer h1 {
        font-size: 64px;
    }

    .headerContainer p {
        font-size: 24px;
        margin-right: 5%;
    }

    #headerImg {
        height: 520px;
    }

    .headerSocialMediaContainer {
        margin-right: 2%;
    }

    .headerBorder {
        margin-top: -25.6%;
    }

}


/* Sobre Nós */

#aboutContainer{
    width: 100%;
    display: flex; 
    background: #f7f7f7;
    padding-left: 96px;
    text-align: left;
}

.aboutTextContainer {
    margin-right: 96px;
    margin-bottom: 100px;
}

.aboutTextContainer h2 {
    text-align: left;
    margin-top: 40px;
}

.aboutTextContainer h1 {
    text-align: left;
}

.aboutTextContainer p {
    color: #9C9C9C;
    font-size: 24px;
    font-family: "Saira";
}

.aboutImg {
    margin-right: 72px;
}

#aboutDesktopImg{
    display: flex;
    justify-content: center;
}

#aboutMobileImg{
    display: none;
}

/* Responsividade - Sobre Nós */

/** Mobile **/

@media screen and (min-width: 320px) and (max-width: 768px) {
    .aboutImg {
        margin-right: 0px;
    }

    .aboutContainer{
       text-align: center;
       padding: 0px;
       justify-content: center;
    }

    .aboutTextContainer p {
        font-size: 20px;
    }

    .aboutTextContainer h1 {
        font-size: 30px;
        text-align: center;
    }

    .aboutTextContainer h2 {
        font-size: 25px;
        text-align: center;
    }

    #aboutMobileImg{
        display: flex;
        justify-content: center;
    }
    
    #aboutMobileImg img{
        width: 50%;
    }
    
    #aboutDesktopImg{
        display: none;
    }

    .aboutTextContainer{
        padding: 10%;
        margin-right: 0px;
        margin-bottom: 100px;
    }

    .buttonPurple2{
        font-size: 20px;
    }
}

/** Laptops: Large Screen **/

@media screen and (min-width: 769px) and (max-width: 2800px) {
    .aboutTextContainer h1 {
        font-size: 40px;
    }

    .aboutTextContainer h2 {
        font-size: 30px;
    }
    
    .aboutTextContainer p {
        font-size: 22px;
    }
    
    .aboutImg {
        width: 120%;
    }
}


/* Depoimentos */

.testimonialsContainer {
    margin-top: 48px;
    position: relative;
}

/* Parceiros */

.partnersContainer {
    position: relative;
}

.partnersContainer h1 {
    margin-top: 32px;
}

.partnersLogo div {
    text-align: center;
}

.partnersLogo img {
    width: 180px;
    margin-right: 72px;
    margin-bottom: 32px;
}

#brasilJrMark {
    width: 240px;
}

#totvsMark {
    width: 360px;
    margin-right: 0;
}

.partnersLogo div:last-child img {
    width: 480px;
}

#americanasMark {
    margin-right: 0;
}

/* Responsividade - Parceiros */

/** Mobile **/
@media screen and (min-width: 320px) and (max-width: 480px) {

    .partnersContainer {
        margin-bottom: -204px;
    }

    .partnersLogo{
        padding-left: 15px;
        padding-right: 15px;
    }

    .partnersLogo img {
        width: 56px;
        margin-right: 32px;
    }

    #brasilJrMark {
        width: 72px;
    }

    #totvsMark {
        width: 92px;
    }
    
    .partnersLogo div:last-child img {
        width: 180px;
    }

}

/** Tablets **/
@media screen and (min-width: 481px) and (max-width: 768px) {

    .partnersContainer {
        margin-bottom: -172px;
    }

    .partnersLogo img {
        width: 124px;
        margin-right: 32px;
    }

    #brasilJrMark {
        width: 156px;
    }

    #totvsMark {
        width: 180px;
    }
    
    .partnersLogo div:last-child img {
        width: 320px;
    }
    
}

/** Laptops **/
@media screen and (min-width: 769px) and (max-width: 1200px) {

    .partnersContainer {
        margin-bottom: -108px;
    }
    
    .partnersLogo img {
        width: 124px;
        margin-right: 32px;
    }

}