.aboutMEJContainer {
    position: relative;
    display: flex;
    text-align: right;
    color: #9C9C9C;
    padding: 0 96px 96px 128px;
    font-size: 24px;
    align-items: center;
}

.aboutMEJContainer div:first-of-type {
    margin-right: 96px;
}