.solutionsBackGround {
    display: flex;
    background-image: url("../../assets/imgs/solucoesBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 250px;
}

.solutionsBackGround h1 {
    color: #610C7D;
    font-family: "Scada";
    font-weight: bolder;
    text-align: center;
}

.solutionsBackGround p {
    color: #9C9C9C;
    font-family: "Saira";
    font-size: 23px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 0px;
}

.solutionsContainerButtons{
    display: flex;
    justify-content : space-evenly;
}

#solutionsButtonClicked {
    width: 267.56px;
    height: 88px;
    font-family: "Saira";
    font-size: 25px;
    color: white;
    border-radius: 50px;
    border: white 3px solid;
    margin: 10px 10px;
}

.solutionsChangeContent{
    display: flex;
    margin-top: 40px;
}

.solutionsChangeContent img{
    width: 400px;
    height: 400px;
}

.solutionsContainerText{
    text-align: right;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.solutionsTitle{
    width: fit-content;
    border-bottom: #610C7D 10px solid
}

.solutionsTitle h1{
    color: #610C7D;
    font-family: "Scada";
    font-size: 40px;
}

.solutionsContainerText p{
    width: 80%;
    color: #707070;
    font-family: "Scada";
    font-size: 25px;
    text-align: right;
    margin-bottom: 20px;
}

#solutionsButton {
	background-image: linear-gradient(#8700A9, #980089);
	width: 210px;
	height: 70px;
	font-family: "Saira";
    font-weight: lighter;
	font-size: 25px;
	color: white;
	border-radius: 50px;
	border: white 3px solid;
	margin-top: 5px;
}

#solutionsButton:hover {
    background-image: none;
    background-color: white;
    color: #610C7D;
    border: #610C7D 2px solid
};