.valueCard {
    position: relative;
    width: 280px;
    background-color: white;
    margin: 0 32px;
    padding: 0 16px;
    transition: transform 0.5s;
}

.valueCard::before {
    content: "";
    position: absolute;
    inset: -20px 50px;
    border-top: 4px solid #8700A9;
    border-bottom: 4px solid #8700A9;
    transition: 0.5s ease-in-out;
}

.valueCard:hover::before {
    inset: -10px 50px;
}

.valueCard img {
    margin-top: 16px;
}

.valueCard h3 {
    font-family: "Scada";
    font-weight: bold;
    font-size: 32px;
    color: #610C7D;
}

.valueCard p {
    font-family: "Saira";
    font-weight: lighter;
    font-size: 16px;
    color: #9C9C9C;
}

.valueCard:hover {
    transform: scale(1.1);
    background-color: #8700A9;
}

.valueCard:hover h3, .valueCard:hover p {
    color: white;
}