.hdrContainer {
    background-color: #610C7D;
    height: 720px;
    z-index: -2;
    display: flex;
}

.hdrTextContainer {
    margin: 0 10% 0 10%;
    color: white;
    text-align: center;
}

.hdrTextContainer h1 {
    font-family: "Scada";
    font-size: 72px; 
    font-weight: bold;
    padding-top: 108px;
}

.hdrTextContainer p {
    margin-top: 32px;
    font-family: "Saira";
    font-size: 28px;
}

.hdrSocialMediaContainer {
    margin: 7.5% 5% 0 0;
    text-align: center;   
}

.hdrSocialMediaContainer p {
    font-family: "Saira"; 
    font-size: 26px;
    font-weight: bold;
    writing-mode:vertical-rl;
    color: white;
    margin-bottom: 90%;
}

.hdrBorder {
    width: 100%; 
    position: relative;
    margin-top: -25.6%;
    z-index: 0;
    -webkit-user-drag: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}  

/** Mobile **/
@media screen and (min-width: 320px) and (max-width: 480px) {

    .hdrContainer {
        height: 352px;
    }

    .hdrTextContainer {
        margin: 0 5%;
    }

    .hdrTextContainer h1 {
        text-align: left;
        padding-top: 24px;
        font-size: 28px;
    }

    .hdrTextContainer p {
        text-align: left;
        font-size: 16px;
    }

    .hdrSocialMediaContainer {
        display: none;
    }
}

/** Tablets **/
@media screen and (min-width: 481px) and (max-width: 768px) {

    .hdrContainer {
        height: 640px;
    }

    .hdrTextContainer h1 {
        text-align: left;
        padding-top: 24px;
        font-size: 64px;
    }

    .hdrTextContainer p {
        text-align: left;
        font-size: 24px;
    }

    .hdrSocialMediaContainer {
        display: none;
    }

}

/** Laptops **/
@media screen and (min-width: 769px) and (max-width: 1200px) {

    .hdrContainer {
        height: 720px;
    }

    .hdrTextContainer {
        margin: 0 5%;
    }

    .hdrTextContainer h1 {
        font-size: 64px;
    }

    .hdrTextContainer p {
        font-size: 24px;
    }

    .hdrSocialMediaContainer {
        padding-top: 5%;
    }
}