.serviceInfoContainer {
     padding: 3%;
     
}
.serviceInfoContainer{
    display: flex;
    width: 100%;
    gap: 50px;
}
.serviceInfoText h2 {
    font-family: 'saira';
    color: #9C9C9C;
    font-size: 32px;
}
.serviceInfoText p {
    font-family: 'scada';
    margin-bottom: 72px;
    color: #707070;
    font-size: 24px;
}
.serviceInfoCard {
    display: flex;
    align-items: center;
    gap: 30px;
}
.serviceInfoCard h2 {
    font-family: 'scada';
    font-size: 48px;
    color: #424242;
    margin-bottom: 0px;
    width: 500px;
}
.serviceInfoCard p {
    font-family: 'scada';
    font-size: 24px;
    color: #707070;
}
.serviceInfoCard h3{
    font-family: 'scada';
    font-size: 1.1rem;
    color: #424242;
    
}
.serviceCardAvatar img{
    border-radius: 50%;
    width: 200px;    
}

/* Galeria */

.serviceInfoThumb {
    width: 900px;
    height: 500px;
    display: flex;
    justify-content: center;
}

.serviceInfoThumb img{
    width: 100%;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7), 0px 20px 30px rgba(0, 0, 0, 0.3), 0px 10px 50px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    background: #FFFFFF;
}

.serviceInfoImagesOptions{
    display: flex;
    margin-top: 40px;
    margin-bottom: 120px;
}

.serviceInfoImagesOptions img{
    margin-right: 40px;
    border-radius: 30px;

}