.coreValuesContainer {
    background-color: #F6F6F6;
    background-image: url("../../assets/svg/img.core-values-bg.svg");
    background-position: right;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 32px;
}

.valueCardsContainer {
    display: flex;
    margin-top: 32px;
    padding-top: 32px;
    padding-bottom: 64px;
    justify-content: center;
}