/* Header */

.headerContainer {
    background-color: #610C7D;
    z-index: -2;
}

.headerTextContainer {
    display: flex; 
    align-items: center; 
    margin-left: 5%;
}

.headerTextContainer h1 {
    color: white;
    font-family: "Scada";
    font-size: 72px; 
    font-weight: bold;
}

.headerTextContainer p {
    margin-top: 20px;
    color: white;
    font-family: "Saira";
    font-size: 28px;
}

#headerImg {
    height: 800px;
    position: relative;
}

.headerSocialMediaContainer {
    margin-right: 5%;
}

.headerSocialMediaContainer p {
    font-family: "Saira"; 
    font-size: 26px;
    font-weight: bold;
    writing-mode:vertical-rl;
    color: white;
}

.headerBorder {
    width: 100%; 
    position: relative;
    margin-top: -25.5%;
    z-index: 0;
    -webkit-user-drag: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Responsividade - Header */

@media screen and (min-width: 320px) and (max-width: 480px) {

    .headerTextContainer {
        padding-top: 5%;
    }

    .headerTextContainer h1 {
        font-size: 28px;
    }

    .headerTextContainer p {
        font-size: 16px;
    }

    .headerButton {
        margin-bottom: 10%;
    }

    #headerImg {
        display: none;
    }

    .headerSocialMediaContainer {
        display: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .headerContainer {
        padding: 5%;
    }
    
    .headerContainer h1 {
        font-size: 64px;
    }

    .headerContainer p {
        font-size: 24px;
        margin-right: 5%;
    }

    #headerImg {
        display: none;
    }

    #headerImg {
        display: none;
    }

    .headerSocialMediaContainer {
        display: none;
    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .headerContainer {
        padding: 5%;
    }

    .headerContainer h1 {
        font-size: 64px;
    }

    .headerContainer p {
        font-size: 24px;
        margin-right: 5%;
    }

    #headerImg {
        display: none;
    }

    .headerSocialMediaContainer {
        margin-right: 2%;
    }

}

@media screen and (min-width: 1025px) and (max-width: 1200px) {

    .headerContainer {
        padding: 3%;
    }

    .headerContainer h1 {
        font-size: 64px;
    }

    .headerContainer p {
        font-size: 24px;
        margin-right: 5%;
    }

    #headerImg {
        height: 520px;
    }

    .headerSocialMediaContainer {
        margin-right: 2%;
    }

}

/* Sobre Nós */

.aboutContainer{
    width: 100%;
    height: 666px;
    display: flex; 
    background: #f7f7f7;
    padding-left: 96px;
}

.aboutTextContainer {
    margin-right: 96px;
}

.aboutTextContainer h1 {
    text-align: left;
}

.aboutTextContainer h2 {
    margin-top: 64px;
    text-align: left;
}

.aboutTextContainer p {
    color: #9C9C9C;
    font-size: 24px;
    font-family: "Saira";
}

.aboutImg {
    margin-right: 72px;
}

/* Depoimentos */

.testimonialsContainer {
    margin-top: 48px;
    position: relative;
}

/* Parceiros */

.partnersContainer {
    position: relative;
}

.partnersImagesOne {
    width: auto;
    text-align: center;
    margin-right: auto;
}

.partnersImagesTwo {
    width: auto;
    text-align: center;
   
}

.partnerImg {
    margin-right: 48px;
}

/* Responsividade */

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

@media screen and (min-width: 551px) and (max-width: 768px) {

    .partnersImages {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        padding: 5%;
    }
    
    .partnerImg {
        width: 25%;
        margin-right: 2%;
        margin-left: 2%;
    }

    #TOTVS {
        margin-top: 6%;
        width: 25%;
    }

    #Empower {
        margin-top: 6%;
        width: 28%;
    }

    #Americanas {
        margin-top: 6%;
        width: 35%;
    }
} 